<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if logged_in? %> 
      <%= button_to 'Sign Out', action: session_url, method: :delete %>
    <% else %> 
      <%= button_to 'Sign Up', action: new_user_url %>
      <%= button_to 'Sign In', action: new_session_url %>
    <% end %> 



    <%= yield %>
  </body>
</html>
