<h1>CATS!!!!!!!!!!!</h1>

<% @cats.each do |cat| %>
  <ol> 
    <h2><%= cat.name %></h2>
    <li><%= "Birthday: " + cat.birth_date %></li>
    <li><%= "Color: " + cat.color %></li>
    <li><%= "Sex: " + cat.sex %></li>
    <li><%= "Description: " + cat.description %></li>
  </ol>
<% end %>

